# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.rel
*.lk

# Linker output
*.ilk
*.map
*.exp
*.lst
*.ihx
*.mem
*.rst
*.sym

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#CodeBlocks
*.layout

#custom
c_*/*.asm
c_*/obj
c_*/bin
